.footer {
    margin: 0 auto;
    background-color: $black;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;

    // .footer__img

    &__img {}

    // .footer__link

    &__link {
        margin-right: 16px;
        &:last-child{
            margin-right: 0;
        }
    }

    // .footer__text

    &__text {
        margin-top: 24px;
        color: $text;
        font-size: 16px;
        font-weight: normal;
    }
}
